.section-header {
	text-align: center;
	margin: 15px 0;
	font-weight: bold;
	color: #444;
	background-color: #202020;
	color: transparent;
	text-shadow: 1.1px 1.1px 0px rgba(255, 255, 255, 0.685);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}
